importFrom(outliers, rm.outlier)
importFrom(robustbase, lmrob)
importFrom(signal, sgolayfilt)
importFrom(qpcR, Cy0)

export(
	"AmpSim",
	"amptester",
	"bg.max",
	"smoother",
	"fixNA",
	"CPP",
	"inder"
)
